**Exercice 1 :**    
Créer un programme pandas Python qui traite les données du tableau suivant à l'aide d'un DataFrame et les affiches sous forme d'un tableau à l'écran:

![image](https://user-images.githubusercontent.com/123748165/226333321-a26d48aa-a3d8-4d4a-8dd0-fe0745f0c81c.png)

In [ ]:
# importation de la bibliothèque pandas
import pandas as pd
 
# représentation des données sur un dictionnaire python
dictData = {'ID' : [1, 2, 3, 4 , 5] , 
            'Name': ['Albert' , 'Nathalie' , 'Robert' , 'Jesika' , 'Adam'] , 
            'Email': ['albert@gmail.com' , 'nathalie@gmail.com' , 'robert@gmail.com' , 'jesika@gmail.com' , 'adam@gmail.com'] , 
            'Section' : ['SVT' , 'SC Eco' , 'Math' , 'Philo' , 'Physique'] }
 
# créer un objet dataframe
df = ps.DataFrame(dictData)
 
# afficher les données
print(df)

   ID      Name               Email   Section
0   1    Albert    albert@gmail.com       SVT
1   2  Nathalie  nathalie@gmail.com    SC Eco
2   3    Robert    robert@gmail.com      Math
3   4    Jesika    jesika@gmail.com     Philo
4   5      Adam      adam@gmail.com  Physique

**Exercice 2 :**    
Créer un programme pandas python qui permet de convertir la série:

In [ ]:
serie = pd.Series(np.array (['P', 'a', 'n', 'd', 'a' , 's']))

en la chaine de caractères formée par les éléments de la série. Le programme doit renvoyer la chaine s = "Pandas".

In [ ]:
# importation de pandas as pan
import pandas as pan
 
# importation de  numpy as np
import numpy as np
 
# tableau simple
data = np.array (['P', 'y', 't', 'h', 'o' , 'n'])
 
serie = pan.Series(data)
myString = ""
for i in range(0 , len(serie)):
    myString += serie[i]
 
# afficher la chaine   
print(myString)

Python

**Exercice 3 :**    
Ecrire un programme pandas python qui permet de supprimer un élément de la série:

In [ ]:
pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])

0     Python
1     Djnago
2    Tkinter
3       PyQt
4      numpy
dtype: object

Supprimer le dernier élément à titre d'exemple.

In [ ]:
# importation de pandas as ps
import pandas as pd

# importation de  numpy as np
import numpy as np

# tableau simple
data = np.array (['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])

# créer la série pandas
serie = pd.Series (data)

# supprimer le dernier élément 'numpy' de la série
newserie = serie.drop([4])

# afficher la nouvelle série
print(newserie)

0     Python
1     Djnago
2    Tkinter
3       PyQt
dtype: object

**Exercice 4 :**    
Reprendre l'exercice précédent **(Exercice3)** en créant cette fois-ci un programme basé sur la bibliothèque pandas python qui supprime les éléments d'index pair de la série.

In [ ]:
# importation de pandas as pan
import pandas as pd
 
# importation de  numpy as np
import numpy as np
 
# tableau simple
data = np.array (['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
 
# créer la série pandas
serie = pd.Series (data)
 
# supprimer les éléments d'indice impairs
for i in range(0 , len(serie)):
    if i%2 == 0:
        serie = serie.drop([i])
 
# afficher la nouvelle série
print(serie)

1    Djnago
3      PyQt
dtype: object

**Exercice 5 :**    
Modfifier le programme suivant afin de supprimer la colonne 'Section' et la remplacer par la colonne: Age = [ 22 , 23 , 21 , 20 , 25 ] sans toucher à laliste data. les modifiction doivent être apportées uniquement au DataFrame df:

In [ ]:
import pandas as pd
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = pd.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])

In [ ]:
import pandas as pd

# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]

# création du DataFrame
df = pd.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])

# Afficher le DataFrame
print(df)
print('----------------------------------------')

# supprimer la colonne 'Section'
df.pop('Section')

# Ajouter la colonne 'Age'
df['Age'] = [ 22 , 23 , 21 , 20 , 25 ]

# Afficher le DataFrame

        Name               Email   Section
11     Tomas     tomas@gmail.com      Math
12    Albert    albert@gmail.com       SVT
13  Nathalie  nathalie@gmail.com    Sc Eco
14   Roberto   roberto@gmail.com  Physique
15      Adam      adam@gmail.com      Info
----------------------------------------

**Exercice 6 :**    
A partir du programme suivant qui represente les données des étudiants dans un DataFrame:

In [ ]:
import pandas as pd
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = pd.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])

Ecrire un programme qui récupère les emails des étudiants en une liste: list_emails =[ ... ] sans toucher à la liste data des données. Les manipulations doivent être apportées uniquement au niveau du DataFrame df.

In [ ]:


# liste des données
import pandas as pd
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = pd.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])
 
# récupération de la liste des emails
list_email = list(df ['Email'])
 
# afficher la liste des emails
print(list_email)

['tomas@gmail.com', 'albert@gmail.com', 'nathalie@gmail.com', 'roberto@gmail.com', 'adam@gmail.com']

**Exercice 7 :**    
Ecrire un programme python pandas qui permet de sélectionner et afficher uniquement les deux colonnes 'Nom' et 'Age':

In [ ]:
dictData = {'ID' : [31, 71, 30 , 11 , 23] , 
            'Nom': ['Julia', 'Tiago', 'Charlie' , 'Alba' , 'Isaac'],  
        'Age': [22, 21, 20, 20 , 23], 
        'Taille': [170, 190, 181 , 175 , 165]}
# création du dataframe
df = pd.DataFrame(dictData , index=[235 , 155 , 243 , 311 , 117])

In [ ]:
import pandas as pd
 
dictData = {'ID' : [31, 71, 30 , 11 , 23] , 
            'Nom': ['Julia', 'Tiago', 'Charlie' , 'Alba' , 'Isaac'],  
        'Age': [22, 21, 20, 20 , 23], 
        'Taille': [170, 190, 181 , 175 , 165]}
# création du dataframe
df = pd.DataFrame(dictData , index=[235 , 155 , 243 , 311 , 117])
 
# Afficher uniquement les colonnes 'Nom' et 'Age'
print(df[['Nom','Age']])

         Nom  Age
235    Julia   22
155    Tiago   21
243  Charlie   20
311     Alba   20
117    Isaac   23

**Exercice 8 :**    
Ecrire un programme pandas python permettant de récupérer la liste des index de la série pandas suivante:

In [ ]:
data = np.array (['P', 'y', 't', 'h', 'o' , 'n'])
s = pd.Series(data , index=[12 , 7 , 13 , 22 , 11 , 2])

In [ ]:
# importation de pandas as ps
import pandas as ps
 
# importation de  numpy as np
import numpy as np
 
# tableau simple
data = np.array (['P', 'y', 't', 'h', 'o' , 'n'])
 
s = ps.Series(data , index=[12 , 7 , 13 , 22 , 11 , 2])
 
# obtenir la liste des index
list_index = list(s.index)
 
# afficher la liste des index
print(list_index)

[12, 7, 13, 22, 11, 2]

**Exercice 9 :**    
Ecrire un programme basé sur la bibliothèque python pandas qui permet de convertir la série pandas suivante en un dictionnaire python:

In [ ]:
s = ps.Series(["Louis" , "Maya" , "Yassmine"  ,  "Rosa" , "Tomas"] , 
              index= [17 , 21 , 19 , 13  , 27 ])

In [ ]:
# importation de pandas as ps
import pandas as ps
 
# création de la série pandas
s = ps.Series(["Louis" , "Maya" , "Yassmine"  ,  "Rosa" , "Tomas"] , 
              index= [17 , 21 , 19 , 13  , 27 ])
 
# initialiser le dictionnaire demandé
Students = dict({})
 
for i in range(0 , len(s)):
    Students[s.index[i]] = s[s.index[i]]
 
# afficher le dictionnaire
print("Students = " , Students)

Students =  {17: 'Louis', 21: 'Maya', 19: 'Yassmine', 13: 'Rosa', 27: 'Tomas'}

**Exercice 10 :**    
Ecrire un programme basé sur la bibliothèque pandas python qui permet d'ajouter le nom 'Clara' à la série pandas suivante:

In [ ]:
s = pd.Series(["Emma" , "Alice" , "Paul"  ,  "Tiago" , "Julia"] , 
              index= [17 , 21 , 19 , 13  , 27 ])

In [ ]:
# importation de pandas as ps
import pandas as pd
 
# création de la série pandas
s = pd.Series(["Emma" , "Alice" , "Paul"  ,  "Tiago" , "Julia"] , 
              index= [17 , 21 , 19 , 13  , 27 ])
 
# ajout de l'élément demandé
s2 = s.append(ps.Series(["Clara"] , index=[11]))
 
# afficher la nouvelle série pandas
print(s2)

17     Emma
21    Alice
19     Paul
13    Tiago
27    Julia
11    Clara
dtype: object